/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    color: #333;
}

/* Cabeçalho */
header {
    background-image: url('pizza.jpg.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 60px 0;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.8em;
    text-shadow: 2px 2px 4px rgba(128, 106, 106, 0.445);
}

header p {
    font-size: 1.4em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Seções */
section {
    margin: 20px auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-bottom: 10px;
    color: #b71c1c;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
    font-size: 1.1em;
}

/* Seção Galeria */
#galeria {
    text-align: center;
}

#galeria .imagem {
    display: inline-block;
    margin: 10px;
    text-align: center;
}

#galeria img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#galeria p {
    font-size: 1em;
    margin-top: 5px;
    color: #555;
}

/* Seção Contato */
#contato p {
    margin: 10px 0;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1;
}

footer a {
    color: #b71c1c;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}
